.parentContainer{
    height:100%;
    width:100%;
}
.childContainer{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginForm{
    display: flex;
    flex-direction: column;
    max-width:350px;
}
.invalidDiv{
    /* display: flex; */
    /* flex-direction: column; */
    max-width:350px;
}